@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #131212;
}

@layer utilities {
  .btn-violet {
    @apply bg-[#6636ea] text-white text-sm
  }

  .max-container {
    @apply mx-auto max-w-[1124px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  .flexColStart {
    @apply flex flex-col items-start justify-center
  }

  .flexColCenter {
    @apply flex flex-col items-center justify-center
  }

  .flexColEnd {
    @apply flex flex-col items-end justify-center
  }

  .flexColBetween {
    @apply flex flex-col items-center justify-between
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[600];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

  .slide_text {
    @apply text-[0.7rem] text-gray-500 absolute -bottom-12 left-1/2 -translate-x-1/2 flex items-center gap-2
  }

  .contactTextContainer {
    @apply bg-white rounded-lg py-8 px-7 flex flex-col md:flex-row gap-12 md:gap-5 overflow-x-hidden
  }

  .contentSocialMedia {
    @apply bg-[#2e2e2e] shadow-lg text-white w-[35px] h-[35px] rounded-full flex items-center justify-center
  }
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blur_effect {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-bottom: 0.2px #131212 solid;
}

#home {
  background: linear-gradient(140deg, #121212, #212222);

}

.homefloatText {
  font-family: 'Kaushan Script', cursive;
}

#about,
#skill {
  background: #131313;
}

#certificate .swiper {
  width: 270px;
  height: 420px;
}

#certificate .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

#certificate .swiper-slide {
  box-shadow: #121212;
  background: #fff;
}

.slideTextAnimation {
  animation: slideIn 1.5s ease-in-out infinite;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}